.container {
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 100vw;
  }
  
  .card {
    width: 100%;
  }
  
  .card-body {
    display: grid;
    grid-gap: 20px;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .form-group label {
    text-align: right;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
  }
  
  .form-group input[type="submit"] {
    grid-column: 1 / span 2;
  }