<!DOCTYPE html>
<html>
  <head>
    <title>Citybike</title>
    <link rel="icon" type="image/png" href="../../../images/LogoCityBike.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
